table {
    border-radius: 5px;
    margin-top: 1em;
}

td {
    max-width: 50px;
    overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {
    body {
        margin-top: 8vh;
        margin-bottom: 7vh;
    }

    #titulo {
        margin-top: .5em;
        margin-bottom: .7em;
        color: white;
        font-size: 2em;
    }
}

.block {
    width: 100%;
}
