body {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: rgb(125, 164, 243);
    font-family: Poppins, sans-serif;
}

#display-sencondary {
    width: 80vw;
}

#titulo {
    margin-bottom: 1.5em;
}

.tamanho-menu {
	padding: 10px 10px;
	width: 30vw;
}

@media only screen and (min-width: 1000px) {
	body {
		display: flex;
		justify-content: center;
		height: 100vh;
		align-items: center;
		background-color: #7da4f3;
    }

    #display-sencondary {
        width: 60vw;
    }

    .tamanho-menu {
        width: 400px;
    }
}


@media only screen and (max-width: 1000px) {
    body {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    #titulo {
        margin-top: .7em;
        margin-bottom: 1.3em;
        color: white;
        font-size: 2em;
    }
}

@media only screen and (max-width: 450px) {
    .tamanho-menu {
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    .tamanho-menu {
        width: 50vw;
    }
}

@media only screen and (max-width: 700px) {
    .tamanho-menu {
        width: 40vw;
    }
}

@media only screen and (max-width: 1000px) {
    .tamanho-menu {
        width: 30vw;
    }
}

@media only screen and (max-width: 1000px) {
    .tamanho-menu {
        width: 30vw;
    }
}

#botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#botoes button {
    margin: .25em;
    max-width: 510px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

#progresso {
    margin-bottom: 2em;
    margin-top: 2em;
    height: 2.5em;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0px;
}

#player {
    height: 50vh;
    margin-bottom: 1em;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#player button {
    margin: .25em;
    max-width: 510px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.selecionada {
    height: 48px;
}