body {
    font-family: Poppins, sans-serif;
}

table {
    max-width: 800px;
    border-radius: 5px;
    text-align: center;
}

#display-sencondary {
    width: 80vw;
}

#tabela {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1000px) {
	body {
		display: flex;
		justify-content: center;
		height: 100vh;
		align-items: center;
		background-color: rgb(125, 164, 243);
    }

    #display-sencondary {
        width: 60vw;
    }
}

@media only screen and (max-width: 1000px) {
    #titulo {
        margin-top: .5em;
        margin-bottom: .7em;
        color: white;
        font-size: 2em;
    }

    #informacoes {
        margin-top: 1em;
        max-height: 600px;
        overflow-y: scroll;
    }

    .alinhar {
        max-width: 300px;
    }
}

@media only screen and (max-width: 550px) {
    #titulo {
        margin-top: .5em;
        margin-bottom: .7em;
        color: white;
        font-size: 2em;
    }

    #informacoes {
        margin-top: 1em;
        max-height: 600px;
        overflow-y: scroll;
    }

    .alinhar {
        max-width: 120px;
    }
}

#adicionar-modulo {
    margin-top: 1em;
}

#titulo-modal {
    color: black;
    font-size: 1.5em;
    margin-bottom: 1em;
}